@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(194, 109, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  height: 800px;
  width: 800px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 1rem 1rem;
}

.container h1 {
  color: #fff;
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
  font-weight: 100;
}
