@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(194, 109, 123);
}

.container {
  width: 700px;
  height: 600px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 1rem 1rem;
}

.container h1 {
  color: #fff;
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-container {
  margin-right: 2rem;
}

.img-cat,
.img-dog {
  margin-bottom: 1rem;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 2px;
}

/* buttons */
.get-cat,
.get-dog {
  background-color: #fff;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
